*{
  margin: 0;
    padding: 0;
    box-sizing: border-box;

}
header{
    background-color: black;
    color: white;
    text-align: center;
    display: flex;
    height: 100px;
    width: 100px;
    justify-content: center;
    align-items: center;
}
/*
poner circulo que no se mueve en la derecha con position

*/