*{
  margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    display: flex;
    justify-content: center;
    align-items: center;
     height: 100vh;
}

#padre{
    width: 80vw;
    min-height: 80vh;
    background-color: dodgerblue;
    display: flex;
    flex-direction: column;
       gap: 30px;
       justify-content: space-evenly;
}
/* .hijo{
width: 400px;
height: 400px;
background-color: red;
border-radius: 50%;
} */


.cuadrado{
    width: 20vw;
    height: 20vw;
    max-width: 150px;
    max-height: 150px;
    background-color: coral;
   
}
.circulo{
    width: 25vw;
    height: 25vw;
    max-width: 200px;
    max-height: 200px;
    background-color: yellow;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cuadradopequeno{
    width: 25%;
    height: 25%;
    background-color: coral;
}
#fila {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    flex-wrap: wrap;
    /*   align-items: center;
    
    align-content: center;*/
}

#filacirculos {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
      /* align-items: center;*/
   
}