* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px dashed black;
}

#container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas:
        "header"
        "nav"
        "section"
        "article"
        "enlaces"
        "footer";
}

header {
    grid-area: header;
    background-color: blue;
}
nav {
    grid-area: nav;
    background-color: gray;
}
section {
    grid-area: section;
    background-color: orange;
}
article {
    grid-area: article;
    background-color: fuchsia;
}
.enlaces {
    grid-area: enlaces;
    background-color: green;
}
footer {
    grid-area: footer;
    background-color: yellow;
}

/* Tablet (768px en adelante) */
@media (min-width: 768px) {
    #container {
        grid-template-columns: 2fr 1fr;
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas:
            "header nav"
            "section section"
            "article article"
            "footer enlaces";
    }
}

/* Escritorio (1024px en adelante) */
@media (min-width: 1024px) {
    #container {
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: auto auto auto auto;
        grid-template-areas:
            "nav header header"
            "nav section enlaces"
            "nav article enlaces"
            "nav footer footer";
    }
}

