* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#containerA,
#containerB,
#containerC,
#containerD {
  display: grid;
  grid-template-columns: 1fr;
  gap: 5px;
  /* width: 100%;
  min-height: 100vh;  */
}

#containerA > div,
#containerB > div,
#containerC > div,
#containerD > div {
  aspect-ratio: 1 / 1;
}

.headerA {
  background: brown;
}
.section1 {
  background: orange;
}
.article2 {
  background: fuchsia;
}
.aside3 {
  background: green;
}
.footer4 {
  background: yellow;
}
.areaB {
  background: red;
}
.citeC {
  background: rosybrown;
}
.delD {
  background: lightgreen;
}
.olD {
  background: lightcoral;
}

/* Tablet */
@media (min-width: 768px) {
  #containerA {
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "headerA headerA"
      "section1 article2"
      "aside3 footer4";
  }

  .headerA { 
    grid-area: headerA; 
    min-height: var(--altura-delD, 200px);
  }
  .section1 { 
    grid-area: section1; 
  }

  .article2 { 
    grid-area: article2; 
  }
  .aside3 { 
    grid-area: aside3; 
  }
  .footer4 { 
    grid-area: footer4; 
  }

  #containerB {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "areaB areaB";
  }
  .areaB { 
    grid-area: areaB; 
    min-height: var(--altura-delD, 200px);
  }

  #containerC {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "citeC citeC";
  }
  .citeC { 
    grid-area: citeC; 
    min-height: var(--altura-delD, 200px); 
  }

  #containerD {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "delD delD"
      "olD olD";
  }
  .delD { 
    grid-area: delD; 
    --altura-delD: 200px; 
  }
  .olD { grid-area: olD; }
}

/* Escritorio */
@media (min-width: 1024px) {
  #containerA {
  grid-template-columns: repeat(4, 1fr);
 grid-template-rows: auto auto;
  grid-template-areas:
    "headerA headerA headerA headerA"
    "section1 article2 aside3 footer4";
}

  .headerA { 
    grid-area: headerA; 
  }

  .section1 { 
    grid-area: section1; 
  }

  .article2 { 
    grid-area: article2; 
  }

  .aside3 { 
    grid-area: aside3; 
  }

  .footer4 { 
    grid-area: footer4; 
  }

  #containerB {
    grid-template-columns: repeat(4, 1fr);

    grid-template-areas: "areaB areaB areaB areaB";
  }

  #containerC {
    grid-template-columns: 1fr;
  }

  #containerD {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      "delD delD delD delD"
      "olD olD olD olD";
  }

  .delD { 
    grid-area: delD; 
    }

  .olD { 
    grid-area: olD; 
  }
}

